# Terraform local files
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Secrets / credentials
*.pem
*.key
.env
.env.*
.aws/

# Python / notebooks
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/

# OS/editor
.DS_Store
Thumbs.db

# Logs
*.log
share.log
